.counter-trigger-wrapper {
    display: flex;
    justify-content: space-around;
    .start-wrapper, .paused-wrapper {
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 6px;
        border: 1px solid #dee2e6;
        .value {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
    }
}