.counter-timestamp-wrapper {
    padding: 0 1rem;
    .list {
        max-height: 70px;
        min-height: 70px;
        overflow: auto;
    }
    .header {
        color: #645b5b;
        font-size: 15px;
        font-weight: bold;
    }
}