.counter-display-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .value {
        min-width: 30%;
        align-self: center;
        text-align: center;
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid #dee2e6;
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
        color: rgb(100, 91, 91);
    }
}