<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 counter-wrapper">
      <div class="main-header mb-2">Counter with Services</div>
      <div class="container-fluid">
        <div class="row counter-rows justify-content-around">
          <div class="col-5">
            <app-counter-display-ser></app-counter-display-ser>
          </div>
          <div class="col-5">
            <app-counter-input-ser></app-counter-input-ser>
          </div>
        </div>
        <div class="row counter-rows mt-4 justify-content-around">
          <div class="col-5">
            <app-counter-timestamp-ser></app-counter-timestamp-ser>
          </div>
          <div class="col-5">
            <app-counter-trigger-count-ser></app-counter-trigger-count-ser>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>