<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11 ecommerce-view-wrapper">
      <div class="main-header">E-commerce Website</div>
      <div class="filter-wrapper">
        <div class="grid-view-wrapper">
          <div [ngClass]="{'active': activeView == 'grid'}" (click)="changeView('grid')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill"
              viewBox="0 0 16 16">
              <path
                d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
            </svg>
          </div>
          <div [ngClass]="{'active': activeView == 'list'}" (click)="changeView('list')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
          </div>
        </div>
        <div class="filter-list-dropDown" (click)="showDropDown=!showDropDown">{{priceFilter.activeFilter.filterDesp}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path
              d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>
          <div class="dropdown-wrapper" *ngIf="showDropDown">
            <div class="item" *ngFor="let item of priceFilter.list"
              (click)="selectFilter(item);$event.stopPropagation()">{{item.filterDesp}}</div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div [ngClass]="{'col-3': activeView=='grid', 'col-6': activeView=='list'}" class="col-3" *ngFor="let product of productList|priceFilter:'price':priceFilter.activeFilter.value">
              <app-product-item [productItem]="product" [isGridView]="activeView=='grid'"></app-product-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>